<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <%- include('./partials/header') -%>
    <h2>Products List</h2>
    <% if (products.length){ %>
    <table class="table table-secondary table-hover table-striped">
      <thead>
        <tr>
          <th>Description</th>
          <th>Precio</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(function(product){ %>
        <tr>
          <td><%=product.description%></td>
          <td><%=product.price%></td>
          <td><img src="<%=product.thumbnail%>" width="48" /></td>
        </tr>
        <% }) %>

      </tbody>
    </table>
    <% } else { %>
      <div class="alert alert-warning" role="alert">
        <h5>No hay productos cargados.</h5>
      </div><% } %>
  <%- include('./partials/footer') -%>
  
